.intake-form-bg {
    background-image: url('../assets/backgrounds/tagBoardBG.png');
    position: absolute;
    width: 100%;
    height: 100%;
    background-size: contain;
}

.intake-form {
    background-image: url('../assets/elevatorButtons.png');
    background-size: contain;
    width: 644px;
    height: 504px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 42px 45px;
    box-sizing: border-box;
    
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
}

.tag-section {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
    justify-content: space-between;
    margin: 6px 0px;
}

.tag-button {
    padding: 7px 10px 5px;
    border-radius: 6px;
    cursor: pointer;
    user-select: none;
    font-size: 13px;
    color: #000;
    font-family: Medium;
    border: 2px solid black;
    border-bottom-width: 4px;
}

.tag-button-above {
    background-color: #E1D5C9;
}

.tag-button-below {
    background-color: #D4DDC7;
}

.tag-button-wildcard {
    background-color: #CBC9C8;
}

.tag-button- {
    background-color: #fff;
}

.tag-button-selected-above {
    background-color: #F6D77D;
    box-shadow: 0 0 20px 0 #FFC978;
}

.tag-button-selected-below {
    background: #C3EA9B;
    box-shadow: 0 0 20px 0 #C0EC95;
}

.tag-button-selected-wildcard {
    background: #fff;
    box-shadow: 0 0 20px 0 #fff;
}

.tag-button-selected- {
    background: #fff;
    box-shadow: 0 0 20px 0 #fff;
}

.tagboard-prompt-header {
    border: 3px solid #866E5E;
    margin: 0 8%;
}

.intake-form > .popup-action-btn {
    width: 95%;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    background-color: #FFE591;
    color: #000;
}

.intake-form > .popup-action-btn:disabled {
    background-color: #998374;
    color: #675346;
}